{% extends "base/manager_base.html" %}
{% block container %}
{% load static %}

{% include 'includes/manager-nav.html' %}

<!--**********************************
    Content body start
***********************************-->
<div class="content-body">
    <div class="container-fluid">
        <!-- Page Title -->
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="#">Add Food Category</a></li>
                </ol>
            </div>
        </div>

        <!-- Form Card -->
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card shadow-sm rounded-3">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Add New Food Category</h4>
                    </div>
                    <div class="card-body">
                        <form action="" method="post" class="ajax redirect" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="id_store">Store</label>
                                    {{ form.store }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="id_name">Food Category Name</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="form-group text-end">
                                <button type="submit" class="btn btn-success px-4 py-2">
                                    <i class="fa fa-save me-2"></i>Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--**********************************
    Content body end
***********************************-->
{% endblock %}
