{% extends "base/manager_base.html" %}
{% block container %}
{% load static %}
{% include 'includes/manager-nav.html' %}

<div class="content-body">
    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">{{ sub_title }}</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">{{ name }}</a></li>
            </ol>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ name }}</h4>
                <div class="table-responsive">
                    <table class="table table-bordered zero-configuration">
                        <thead>
                            <tr>
                                
                                <th>Order ID</th>
                                <th>Customer</th>
                                <th>Store</th>
                                <th>Total</th>
                                <th>Delivery</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                
                                <td>{{ order.order_id }}</td>
                                <td>{{ order.customer.user.first_name }} {{ order.customer.user.last_name }}</td>
                                <td>{{ order.store.name }}</td>
                                <td>₹{{ order.total }}</td>
                                <td>₹{{ order.delivery_charge }}</td>
                                <td>
                                    {% if order.status == "PALCEORDER" %} Placed
                                    {% elif order.status == "ACCEPT" %} Accepted
                                    {% elif order.status == "SHIPPED" %} Shipped
                                    {% elif order.status == "ONTHEWAY" %} On the Way
                                    {% elif order.status == "DELIVERD" %} Delivered
                                    {% elif order.status == "CANCELED" %} Canceled
                                    {% else %} Unknown
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
